html {
    height: 100%;
}

body {
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: Arial;
    background-image: url(back.png);
}

header {
    background-color: yellowgreen;
    background-image: url(fire.png);
    width: 100%;
    height:5em;
    position: fixed;
    top: 0;
}
    header p {
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        margin:24px;
    }

.make-post{
    position:absolute;
    background:white;
    width:80px;
    height:50px;
    border-radius:50%;
    top:1em;
    right:5em;
}
    .make-post a::after {
        content: " ";
        position: absolute;
        display: block;
        background-color: red;
        height: 10px;
        margin-top: -5px;
        top: 50%;
        left: 10px;
        right: 10px;
        z-index: 9;
    }

    .make-post a::before {
        content: " ";
        position: absolute;
        display: block;
        background-color: red;
        width: 10px;
        margin-left: -5px;
        left: 50%;
        top: 5px;
        bottom: 5px;
        z-index: 9;
    }
.make-post a{
     display: block;
     text-align: center;
     height: 100%;
}

main {
    margin-top: 5em;
    padding-bottom: 4em;
    font-size: 24px;
    flex: 1 0 auto;
}
.div {
    width: 50%;
    margin: 0 25%;
    display: flex;
    flex-direction: column;
}

.p{
    text-align:center;
    margin-top:0;
}

.download-form {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    border-radius:10px;
    padding:10px 0;
    
}

.post {
    background-color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 0;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
    .post p {
        margin:0 0 20px 20px;
    }
.div img {
    width: 70%;
    height: auto;
    margin: 0 20px 20px 20px;
}
.checkbox-btn {
    display: inline-block;
    margin: 0 0 0 20px;
    user-select: none;
    position: relative;
}
    .checkbox-btn input[type=checkbox] {
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }
.checkbox-btn span {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    line-height: 30px;
    border: 1px solid #999;
    border-radius: 10px;
    transition: background 0.2s ease;
}
/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
    background-color:red;
}

button {
    border: none;
    border-radius: 7px;
    padding: 10px 25px;
    background: red;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin: 0 0 0 10px;
}
input{
    font-size:16px;
    margin:0 0 0 10px;
}

footer {
    background-color: yellowgreen;
    height: 5em;
    flex: 0 0 auto;
    width: 100%;
}
footer p{
    font-size:24px;
    text-align: center;
}