<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meme.css') }}">

<body>
    <header>
        <p> <b>КРИНЖУЛИ</b> <font color="red">online</font></p>
        <div class="make-post"><a href="{{ url_for('make_post') }}">+</a></div>
    </header>
    <main>
        <div class="div">
            <p class="p">Лента</p>

            {% for message in messages %}
            <div>
                <h4>{{ message.user }}</h4><p><img src="img/{{ message.meme }}"/> {{ message.text }}</p>
                <form action="/" method="post">
                    <div>{{message.likes}}</div>
                    <input type="text" name="post_id" value="{{message.post_id}}" style="display: none">
                    <input type="text" name="likes" value="{{message.likes}}" style="display: none">
                    <button type="submit">Like</button>
                </form>
                <form action="/" method="post">
                    <div>{{message.dislikes}}</div>
                    <input type="text" name="post_id" value="{{message.post_id}}" style="display: none">
                    <input type="text" name="dislikes" value="{{message.dislikes}}" style="display: none">
                    <button type="submit">Dislike</button>
                </form>
            </div>
            {% endfor %}

        </div>
    </main>

    <footer>
            <p>Главные кринжули: златик2004, Катюшка_love, !Серёга228</p>
    </footer>
</body>
</html>
