<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Make post</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/meme.css') }}">

</head>
<body>
    <header>
        <p> <b>КРИНЖУЛИ</b> <font color="red">online</font></p>
    </header>

    <main>
        <div class="div">
            <p class="p">Создать пост</p>
            <form class="download-form" method=post enctype=multipart/form-data action="/add_post">
                <input type="text" placeholder="текст" name="text">
                <input type="file" name="meme">
                <button type="submit">Опубликовать</button>
            </form>

        </div>
    </main>
    <footer>
        <p>Главные кринжули: златик2004, Катюшка_love, !Серёга228</p>
    </footer>

</body>
</html>
